* {
    box-sizing: border-box;
}

:root {
    --primary-color: #ff5b2e;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background: #fffaf5;
}

/* Common */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sora", sans-serif;
}

input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    --height: 56px;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    min-width: 130px;
    height: var(--height);
    line-height: var(--height);
    border: 1px solid rgb(0, 9, 88, 0.7);
    border-radius: 99px;
    font-weight: 600;
    font-size: 1.4rem;
    text-align: center;
    color: #000958;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.btn--primary {
    color: #fff !important;
    background: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
}

.section__heading {
    color: #000958;
    font-family: Sora;
    font-size: 5.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.19;
}

.section__desc {
    color: #656689;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.87;
}

.section__label {
    color: #5e6085;
    font-family: Sora;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1;
}
/* Header */
.header {
    padding-top: 26px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo */
.logo {
    font-size: 1rem;
    position: relative;
    display: inline-flex;
}

/* Navbar */
.navbar__list {
    display: flex;
}

.header-action__link,
.navbar__link {
    padding: 4px 18px;
    color: #5e6085;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1;
}

.navbar__link:hover {
    color: #000958;
    text-shadow: 1px 0 0 currentColor;
}

/* Action */
.header-action {
    display: flex;
    align-items: center;
}

.header-action__sign-up {
    height: 50px;
    min-width: 117px;
}

/* Hero */
.hero {
    margin-top: 100px;
}

.hero__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 120px;
}

.hero__left {
    display: flex;
    position: relative;
    padding-bottom: 94px;
}

.hero__img-wrap {
    position: relative;

    display: flex;
    align-items: flex-end;
    justify-content: center;
    /* 3 dòng trên để cho khi ảnh quá nhỏ so với thẻ chứa thì nó sẽ được tự động căn giữa và nằm sát ở dưới */

    width: 388px;
    height: 488px;
    border-radius: 16px;
    background: #fe997b;
    border: 3px solid #fff;
}

.hero__img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.hero__decor {
    position: absolute;
    z-index: -1;
}

.hero__decor-left {
    top: 16px;
    right: -42px;
}

.hero__decor-right {
    bottom: 10px;
    left: -60px;
}

.hero__pet {
    align-self: flex-end;
    margin: 0 0 -58px -24px;
    /* Hai dòng trên để cho nó sát qua bên phải rồi margin âm để nó ăn vô cái ảnh bên trái */

    display: flex;
    align-items: flex-end;
    justify-content: center;

    width: 186px;
    height: 244px;
    border-radius: 16px;
    background: #faa7ad;
    border: 2px solid #f7dddf;
    z-index: 1;
}

.hero__pet-img {
    max-width: 100%;
    max-height: 100%;
    border-radius: inherit;
}

.hero__list {
    position: absolute;
    width: 250px;
    height: 156px;
    padding: 18px 14px;
    border-radius: 10px;
    background: #fff;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
    left: 130px;
    bottom: 0;
    z-index: 2;
}

.hero__list-item {
    display: flex;
}

.hero__thumb-wrap {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background: #fec23f;
}

.hero__list-info {
    margin-left: 10px;
}

.hero__list-text {
    color: #181e52;
    font-family: Sora;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.hero__list-skeleton {
    width: var(--width, 118px);
    height: 4px;
    border-radius: 10px;
    opacity: 0.08;
    background: #000958;
    margin-top: 7px;
    margin-bottom: 6px;
}

.hero__list-item-separate {
    margin: 20px 0;
    width: 222px;
    height: 2px;
    background: #f2f2f2;
}

.hero__heading {
    font-size: 6.6rem;
    font-weight: 800;
    line-height: 1.15;
    max-width: 517px;
    margin-bottom: 24px;
}

.hero__desc {
    max-width: 391px;
    margin-bottom: 38px;
}

.hero__action {
    display: flex;
    align-items: center;
}

.hero__btn {
    --height: 60px;
    min-width: 190px;
    font-size: 1.6rem;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}

.btn-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 4px 3px 10px -1px rgba(191, 41, 0, 0.4);
}

.hero__link {
    color: #000958;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
    text-decoration-line: underline;
    margin-left: 24px;
}

.about {
    margin-top: 77px;
    margin-bottom: 130px;
    padding-top: 53px;
}

.about__body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    row-gap: 146px;
}

.about__heading {
    max-width: 446px;
    margin: 15px 0 24px 0;
}

.about__desc {
    max-width: 431px;
    margin-bottom: 54px;
}

.about__list {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: flex-start;
    gap: 36px;
}

.about__list-item {
    position: relative;
    color: #48496a;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1;
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.about__list-item::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background: #ff5d31;
    box-shadow: 0px 4px 15px -3px rgba(255, 93, 49, 0.69);
    border-radius: 4px;
}

.about__list-item::after {
    position: absolute;
    top: 2px;
    left: 5px;
    content: url(../img/check.svg);
}

.about__media {
    position: relative;
}

.about__card {
    position: absolute;
    top: 165px;
    left: 0;
    width: 136px;
    height: 156px;
    padding: 30px 26px;
    border-radius: 10px;
    background: #5bd6e2;
    box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
    text-align: center;
}

.about__card-title {
    color: #fff;
    text-align: center;
    font-family: Sora;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 14px;
}

.about__card-desc {
    max-width: 83px;
    color: #c6f4f9;
    text-align: center;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.42;
}

.about__card-image {
    position: absolute;
    top: -39px;
    right: -32px;
}

.about__image-wrap {
    position: relative;
    width: 494px;
    border-radius: 16px;
    margin-left: auto;
}

.about__image-wrap::after {
    content: "";
    position: absolute;
    inset: auto 0 0 0;
    height: 336px;
    border-radius: 16px;
    background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
    z-index: -1;
}

.about__img {
    width: 450px;
    /* để giải quyết cái chân ảnh bị dư ra 1 khúc thì ta để display là block sau đó căn giữa bằng auto */
    display: block;
    margin: 0 auto;
}

.about__decor {
    position: absolute;
    right: -50px;
    top: 157px;
    z-index: -1;
}

.about__img-wrap-bottom {
    position: relative;
    width: 458px;
    border-radius: 18px;
    background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
}

.about__img-bottom {
    width: 100%;
}

.about__img-decor {
    position: absolute;
}

.about__img-decor:nth-child(1) {
    top: 13px;
    right: 64px;
}

.about__img-decor:nth-child(2) {
    top: -16px;
    right: 13px;
}

.about__img-decor:nth-child(3) {
    top: 33px;
    right: -21px;
}

.about__img-decor:nth-child(4) {
    top: 268px;
    right: -33px;
}

.about__img-decor:nth-child(5) {
    bottom: 150px;
    right: 19px;
}

.about__img-decor:nth-child(6) {
    right: -42px;
    bottom: -55px;
}

.about__desc-bottom {
    max-width: 511px;
    margin-top: 24px;
    margin-bottom: 50px;
}

.tab__list {
    position: relative;
    display: inline-flex;
    column-gap: 56px;
}

.tab__link::after,
.tab__item--active::after,
.tab__list::after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    opacity: 0.07;
    background: #ff5b2e;
}

.tab__item {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}

.tab__icon {
    width: 18px;
}

.tab__item--active::after {
    width: 95px;
    opacity: 1;
}

.tab__content-item {
    display: none;
}

.tab__content-item--active {
    display: block;
}

.tab_desc {
    margin-top: 36px;
    margin-bottom: 32px;
    max-width: 391px;
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.71;
}

.tab__link {
    position: relative;
    display: inline-block;
    color: #ff5d31;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
    padding-bottom: 5px;
}

.tab__link::after {
    width: 86px;
    height: 1.5px;
    opacity: 1;
}

/* Services */
.services {
    background: #fff6ed;
    padding: 68px 0 100px 0;
}

.services__head {
    text-align: center;
    margin-bottom: 71px;
}

.section__label {
    margin-bottom: 15px;
}

.services__body {
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 65px;
}

.services__item {
    width: 294px;
    height: 208px;
    border-radius: 10px;
    border: 2px solid rgba(255, 188, 122, 0.26);
    background: #fff;
    padding: 30px 22px 30px 28px;
}

.services__item + .services__item {
    margin-top: 24px;
}

.services__heading {
    position: relative;
    padding-left: 12px;
    color: #000958;
    font-family: Sora;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
}

.services__heading::before {
    position: absolute;
    content: "";
    width: 2px;
    height: 22px;
    background: linear-gradient(90deg, #ff5b2e 0.39%, #ffa187 100.29%);
    left: 0;
}

.services__desc {
    max-width: 244px;
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.71;
    margin: 18px 0 24px 0;
}

.services__link {
    position: relative;
    color: #34396a;
    font-family: Sora;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1;
}

.services__link::after {
    position: absolute;
    right: -18px;
    top: 1px;
    content: url(../img/services-link.svg);
}

.services__media {
    position: relative;
}

.services__media::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 16px;
    right: 16px;
    height: 350px;
    background: linear-gradient(180deg, #9df1fb 0%, #73d0db 108.14%);
    border-radius: 10px;
}

.services__image {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 621px;
}

.services__cta {
    display: flex;
    justify-content: center;
    margin-top: 45px;
}

.services__btn {
    min-width: 214px;
    color: #ff5b2e;
    border-color: currentColor;
}
