* {
    box-sizing: border-box;
}

:root {
    --primary-color: #ff5b2e;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background: #fffaf5;
}

/* Common */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sora", sans-serif;
}

input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    --height: 56px;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    min-width: 130px;
    height: var(--height);
    line-height: var(--height);
    border: 1px solid rgb(0, 9, 88, 0.7);
    border-radius: 99px;
    font-weight: 600;
    font-size: 1.4rem;
    text-align: center;
    color: #000958;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.btn--primary {
    color: #fff !important;
    background: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
}

.section__heading {
    color: #000958;
    font-family: Sora;
    font-size: 5.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.19;
}

.section__desc {
    color: #656689;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.87;
}

/* Header */
.header {
    padding-top: 26px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo */
.logo {
    font-size: 1rem;
    position: relative;
    display: inline-flex;
}

/* Navbar */
.navbar__list {
    display: flex;
}

.header-action__link,
.navbar__link {
    padding: 4px 18px;
    color: #5e6085;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1;
}

.navbar__link:hover {
    color: #000958;
    text-shadow: 1px 0 0 currentColor;
}

/* Action */
.header-action {
    display: flex;
    align-items: center;
}

.header-action__sign-up {
    height: 50px;
    min-width: 117px;
}

/* Hero */
.hero {
    margin-top: 100px;
    height: 100vh;
}

.hero__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 120px;
}

.hero__left {
    display: flex;
    position: relative;
    padding-bottom: 94px;
}

.hero__img-wrap {
    position: relative;

    display: flex;
    align-items: flex-end;
    justify-content: center;
    /* 3 dòng trên để cho khi ảnh quá nhỏ so với thẻ chứa thì nó sẽ được tự động căn giữa và nằm sát ở dưới */

    width: 388px;
    height: 488px;
    border-radius: 16px;
    background: #fe997b;
    border: 3px solid #fff;
}

.hero__img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.hero__decor {
    position: absolute;
    z-index: -1;
}

.hero__decor-left {
    top: 16px;
    right: -42px;
}

.hero__decor-right {
    bottom: 10px;
    left: -60px;
}

.hero__pet {
    align-self: flex-end;
    margin: 0 0 -58px -24px;
    /* Hai dòng trên để cho nó sát qua bên phải rồi margin âm để nó ăn vô cái ảnh bên trái */

    display: flex;
    align-items: flex-end;
    justify-content: center;

    width: 186px;
    height: 244px;
    border-radius: 16px;
    background: #faa7ad;
    border: 2px solid #f7dddf;
    z-index: 1;
}

.hero__pet-img {
    max-width: 100%;
    max-height: 100%;
    border-radius: inherit;
}

.hero__list {
    position: absolute;
    width: 250px;
    height: 156px;
    padding: 18px 14px;
    border-radius: 10px;
    background: #fff;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
    left: 130px;
    bottom: 0;
    z-index: 2;
}

.hero__list-item {
    display: flex;
}

.hero__thumb-wrap {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background: #fec23f;
}

.hero__list-info {
    margin-left: 10px;
}

.hero__list-text {
    color: #181e52;
    font-family: Sora;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.hero__list-skeleton {
    width: var(--width, 118px);
    height: 4px;
    border-radius: 10px;
    opacity: 0.08;
    background: #000958;
    margin-top: 7px;
    margin-bottom: 6px;
}

.hero__list-item-separate {
    margin: 20px 0;
    width: 222px;
    height: 2px;
    background: #f2f2f2;
}

.hero__heading {
    font-size: 6.6rem;
    font-weight: 800;
    line-height: 1.15;
    max-width: 517px;
    margin-bottom: 24px;
}

.hero__desc {
    max-width: 391px;
    margin-bottom: 38px;
}

.hero__action {
    display: flex;
    align-items: center;
}

.hero__btn {
    --height: 60px;
    min-width: 190px;
    font-size: 1.6rem;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}

.btn-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 4px 3px 10px -1px rgba(191, 41, 0, 0.4);
}

.hero__link {
    color: #000958;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
    text-decoration-line: underline;
    margin-left: 24px;
}
